*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blogs{
    margin: 5rem 4rem;
    padding: 20rem 4rem;
    background-image: url(../imagees/Our\ service\ tells\ you\ we\ are\ the\ best.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    height: 80vh;
    transition: .3s;
    animation: header 1s forwards;

}
#blogs:hover{
    margin: 5rem 5rem;
    box-shadow: 0px 0px 10px lightgray;
}


#service{
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0;
    
}
.blog-elements{
    padding: 4rem;
    transition: .3s;
}
.blog-elements:hover{
    box-shadow: 0px 0px 15px 0px lightgray;
    border-radius: 15px;
    background-color: whitesmoke;
    transform: scale(1.05);
}
.blog-elements h2{
    padding: 1rem 0;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 600;
}
.blog-elements p{
    color: gray;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 5px 0;
    transition: .2s;

}
.blog-elements:hover p{
    color: black;
    width: 100%;
}
.blog-elements p:hover{
    border-bottom: 2px solid black;
    transform: translateY(-3px);
}

.blog-links{
    width: 70px;
    height: 70px;
    margin: 5px;
}


@media only screen and (max-width:1024px){

    #blogs{
        height: 200px;
        padding: 10rem 1rem;
        margin: 10px;
    }
    #blogs:hover{
        margin: 10px;
        padding: 10rem 1rem;
    }
    .services{
        display: flex;
        flex-direction: column;
    }
}