

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}



#message {
    margin: 1rem;
    display:none;
    border-radius: 30px;
    flex-direction: column;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    transition: .3s;
    background-color: white;
    border: none;
    animation: message .5s forwards;
  }
  @keyframes message{
    from{
        opacity: 0;
        transform: scale(0);
        transform: translateY(-400px);
    }
    to{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
    }
    
  }
  #message:hover{
    transform: scale(1.1);
  }
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  .valid {
    color: green;
  } 
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  .invalid {
    color: red;
  } 
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    border: none;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}



#contact-header{
    display: flex;
    flex-direction: row;
    padding: 5rem 2rem;
    justify-content: center;
}
.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    animation: elements .5s ease;
    transition: .2s;
}
@keyframes elements{
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.elements:hover{
    box-shadow: 0px 0px 10px 5px lightgrey;
    cursor: pointer;
}
.elements i{
    padding: 10px;
}
.elements i img{
    width: 50px;
}
.elements h2{
    padding: 10px 0;
}
.elements p a{
    padding: 10px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.elements p a:hover{
    color: rgb(0, 81, 255);
}


.wrapper{
    padding: 2rem 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagees/sign-up.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
}
@keyframes forms{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


.modalForm{
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: forms 1s forwards;
    transition: .5s;
}
.actionBtns{
    width: 80%;
    background-color: royalblue;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.actionBtn{
    padding: 1em;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}
.moveBtn{
    position: absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
.rightBtn{
    transform: translateX(98%);
    transition: all 0.2s ease-in-out;
}
.inputGroup{
    display: flex;
    width: 300px;
    margin: 0.8em 0;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: 500;
}
.inputGroup input{
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}
.inputGroup input:focus{
    outline: none;
}
.submitBtn{
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.submitBtn:hover{
    background-color: royalblue;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.form{
    display: none;
}
.singupForm{
    display: block;
}
.loginForm{
    display: block;
}



#map{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid rgb(0, 81, 255);
}

.map-content{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 81, 255);
    align-items: center;
}
.map-content h3{
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.map-element{
    border: 3px solid rgb(0, 81, 255);
}


@media only screen and (max-width:1024px){
    .wrapper{
        height: 100%;
    }
}
@media only screen and (max-width: 768px){
    .elements{
        text-align: center;

    }
    #map{
        display: flex;
        flex-direction: column;
    }
    .map-content{
        padding: 5rem 0;
    }
    .map-content h3{
        font-size: 30px;
    }
    .map-element iframe{
        width: 100%;
    }
    #message{
        top: 70rem;
    }
    .modalForm{
        width: 100%;
    }
    
}
@media only screen and (max-width: 658px){
    .modalForm{
        margin: 0;
    }
    .userForm{
        padding: 10px;
    }
    
}
@media (max-width: 320px){
    .wrapper{
        padding: 5px;
    }
    .modalForm{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 80%;
        border-radius: 5px;
    }
    #contact-header{
        padding: 1rem;
    }
}




